/*.zip

assets/minecraft/font/*
!assets/minecraft/font/default.json
!assets/minecraft/font/cubic11.json
!assets/minecraft/font/ttf/
assets/minecraft/font/ttf/*
!assets/minecraft/font/ttf/cubic11.ttf
!assets/minecraft/font/ttf/OFL.txt

**/*.paint